.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (width < 640px) {
  .avatar-container {
    row-gap: 10px;
  }

  .avatar-player-name {
    order: 1;
  }
}

@media screen and (width > 640px) {
  .avatar-container {
    flex-direction: row;
  }
}
