h2 {
  font-size: clamp(20px, 3vw, 30px);
  letter-spacing: -0.08px;
}

ul > li {
  font-size: clamp(13px, 2vw, 20px);
}

ul ~ p {
  font-size: clamp(15px, 2vw, 20px);
  max-width: 70ch;
  text-wrap: balance;
}
